
body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: "#F5F5F5" !important;
}
#top {
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 400px;
}
#title {
  margin: auto;
  padding: 0;
  display: block;
  max-width: 200px;
}
h1 {
  text-align: center;
  margin: auto;
}
#pong {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 10px;
  border: 2px solid "#00D1B2" !important;
  border-radius: 6px;
}
#container {
  min-width: 400px;
  max-width: 1000px;
  min-height: 400px;
  max-height: 85vh;
  margin: auto;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #container {
    max-width: 85vw;
  }
  #pong {
    margin: 0;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #container {
    max-width: 90vw;
  }
  #pong {
    margin: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #container {
    max-width: 95vw;
    max-height: 95vw;
  }
}

/* Short screens */
@media only screen and (max-height: 768px) {
  #title {
    display: none;
  }
}

.column {
  text-align: center !important;
  padding: 10px;
}
.inactive {
  display: none !important;
}
.modal-title {
  text-align: center !important;
  margin-bottom: 20px;
}
